/*** Global Styles ***/

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  border-top: 3px solid #FFFFA6;
  background: #2F2933;
  color: #aaa;
  font-family: "Merriweather", serif;
  margin: 0;
  line-height: 180%;
  min-height: 100%;
}

h1, h2, h3, h4, p {
  margin-top: 0;
}

h1 {
 color: #BDF271;
}

h2 {
  font-size: 1.1rem;
  color: #BDF271;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover {
  color: #BDF271;
}

pre {
  background: #232025;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

pre, code {
  font-family: 'Fira Mono', monospace;
  color: #ddd;
}

/*** Header ***/

header {
  color: #BDF271;
  background: #FFFFA6;
  color: #222;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 64px;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
  line-height: 64px;
  margin-left: 2rem;
  font-size: 2rem;
  flex: 1;
  white-space: nowrap;
  color: black;
}

header h1 a {
  color: inherit;
  border: none;
  color: #222;
  text-decoration: none;
}

header h1 small {
  font-style: oblique;
  opacity: 0.4;
  font-size: 0.8rem;
  margin-top: 2rem;
  line-height: 3rem;
  vertical-align: middle;
}

header h1 a:hover {
  color: #ccc;
}

header nav {
  display: none;
  margin-right: 2rem;
  line-height: 64px;
  text-align: right;
  vertical-align: middle;
}

header nav a {
  border: none;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 5px;
  font-size: 0.9rem;
}

@media (min-width: 550px) {
  header {
    display: flex;
  }

  header h1 small {
      font-size: 1.1rem;
  }

  header nav {
    display: block;

  }
}

/*** Main ***/

main {
  padding: 120px 3rem 0 3rem;
  max-width: 960px;
  margin: 0 auto;
}

/**** Intro ****/

#home .intro {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem 0 0;
  color: #29D9C2;
}

#home .intro .lead {
  color: #BDF271;
}

#home .intro p {
  margin-bottom: 0;
}

/**** Home Page: Guides ****/

#home .guides {
  margin-top: 3rem;

}

#home .guides-quick-start {
  padding: 2rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#home .guides-guides {
  padding: 2rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 550px) {

  #home .guides {
    display: flex;
  }

  #home .guides-quick-start {
    margin-right: 40px;
  }

  #home .guides-guides {
    width: 90%;
  }

}

#home .guide {
  display: block;
  border: none;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
  margin-bottom: 1rem;
}

#home .guide img {
  display: inline-block;
  background: #FFFFA6;
  width: 35px;
  height: 35px;
  padding: 2px;
  border-radius: 20px;
  margin-right: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#home .guide span {
  display: inline-block;
  vertical-align: 10px;
}

/**** Guide Pages ****/

.docs .nav {
  font-size: 0.8rem;
}

.docs .nav h2 {
  font-size: 0.9rem;
}

.docs .nav ul {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0;
}

.docs .nav li {
  list-style: none;
  margin-left: 0.5rem;
}

.docs .nav a {
  text-decoration: none;
  color: inherit;
  border: none;
}

.docs .nav a:hover {
  color: #BDF271;
}

.docs .page-icon {
  position: absolute;
  top: 0;
  z-index: -10;
  pointer-events: none;
  min-width: 500px;
  min-height: 500px;
  opacity: 0.1;
}

.docs .content {
  z-index: 0;
}

.docs .content h1 {
  line-height: 24px;
  vertical-align: middle;
  color: #BDF271;
}

.docs .content .icon {
  float: left;
  width: 24px;
  height: 24px;
  filter: invert();
  margin-right: 1rem;
  opacity: 0.8;
}

.docs .content canvas {
  background: #ccc;
  border-radius: 3px;
}

@media (min-width: 550px) {

  .docs {
    display: flex;
  }

  .docs .nav {
    padding-right: 5rem;
  }

  .docs.guides {
    display: flex;
  }

  .guides-quick-start {
    margin-right: 40px;
  }

  .guides-guides {
    width: 90%;
  }

}

.icon img {
  display: inline-block;
  height: 3rem;
  margin-right: 1rem;
}

.tags {
  font-size: 12px;
}

.tags .tag {
  border-radius: 3px;
  padding: 3px 6px;
  color: white;
}

.tags .tag a {
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}

.tag-vector {
  background-color: #a6cee3;
}

.tag-image {
  background-color: #1f78b4;
}

.tag-geometry {
  background-color: #b2df8a;
}

.tag-color {
  background-color: #33a02c;
}

.tag-list {
  background-color: #fb9a99;
}

.tag-math {
  background-color: #e31a1c;
}

.tag-data {
  background-color: #fdbf6f;
}

.tag-string {
  background-color: #ff7f00;
}

.tag-animation {
  background-color: #cab2d6;
}

.tag-time {
  background-color: #6a3d9a;
}

.content a {
  text-decoration: none;
}

/**** Reference List ****/

.ref-list {
  column-count: 3;
  column-gap: 40px;
}

.ref-list .function {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: none;
}

.ref-list .function img {
  width: 32px;
  height: 32px;
  filter: invert();
  opacity: 0.8;
}

.ref-list .function:hover img {
  opacity: 1;
}

.ref-list .function label {
  line-height: 100%;
  display: block;
  margin-left: 0.8rem;
}

.ref-list .function span {
  display: block;
  margin: 0;
  padding: 0;
}

.ref-list .function small {
  font-size: 0.7rem;
  font-style: oblique;
  opacity: 0.7;
}

/**** About ****/

#about .about-lead {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 2rem;
}

#about .about-page {
  padding: 4rem 0;
}

#about .about-main {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 2rem;
  width: 100%;
}

#about .about-sidebar {
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#about .about-sidebar ul {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0;
}

#about .about-sidebar li {
  list-style: circle;
  margin-left: 2rem;
}

#about .about-sidebar a {
  text-decoration: none;
  color: inherit;
  border: none;
}

#about .about-sidebar a:hover {
  color: #BDF271;
}

@media (min-width: 550px) {
  #about .about-page {
    display: flex;
  }

  #about .about-main {
    margin-right: 40px;
  }

  #about .about-sidebar {
    width: 33%;
  }
}

/**** Footer ****/

footer {
  margin-top: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 3rem;
  padding-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 0.8rem;
}
