<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} — {% endif %}g.js</title>
  <meta name="description" content="JavaScript library for graphical objects.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Fira+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
</head>
<body id="{{ page.id }}">
  <header>
    <h1><a href="/">g.js</a><small> — graphical objects for JavaScript</small></h1>
    <nav>
      <a href="{{ site.baseurl }}">Home</a>
      <a href="{{ site.baseurl }}guide/quick-start.html">Get Started</a>
      <a href="{{ site.baseurl }}ref/">Reference</a>
      <a href="{{ site.baseurl }}about.html">About</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>g.js is created by <a href="https://www.emrg.be/">EMRG</a> and available under the MIT license. Source code is available on <a href="https://www.github.com/nodebox/g.js">GitHub</a>.</p>
  </footer>
</body>
</html>
