<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} — {% endif %}GROB</title>
  <meta name="description" content="JavaScript library for graphical objects.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <div class="container">
      <h1><a href="/">GROB</a></h1>
    </div>
  </header>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
