---
layout: base
id: docs
---
<div class="docs">
  <section class="nav">
  <h2>Get started</h2>
  <ul>
      <li><a href="/guide/install.html">Installation</a></li>
      <li><a href="/guide/quick-start.html">Quick Start</a></li>
  </ul>
  <h2>Guides</h2>
  <ul>
      <li><a href="/guide/vector.html">Vector&nbsp;Graphics</a></li>
      <li><a href="/guide/image.html">Imaging</a></li>
      <li><a href="/guide/geometry.html">Geometry</a></li>
      <li><a href="/guide/color.html">Color</a></li>
      <li><a href="/guide/list.html">Lists</a></li>
      <li><a href="/guide/math.html">Math</a></li>
      <li><a href="/guide/data.html">Data</a></li>
      <li><a href="/guide/string.html">String</a></li>
      <li><a href="/guide/animation.html">Animation</a></li>
  </ul>
  </section>
  <section class="content">
  {{ content }}
  </section>
</div>
